* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  justify-content: end;
  position: relative;
}

.show-menu {
  position: absolute;
  width: 350px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
  border: 2px solid black;
  display: flex;
}

.hide-menu {
  position: fixed;
  width: 0px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  /* z-index: -359px; */
  overflow: hidden;
  transition: all 0.5s;
  /* border-left: 2px solid black; */
}

.hidden {
  display: none;
}

.container_chil {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

h1 {
  color: rgb(216, 80, 80);
}

h4 {
  cursor: pointer;
}

.Feed_line {
  border: 3px solid rgb(0, 0, 0);
  width: 860px;
  height: 0px;
  margin: 20px;
}

input {
  transition: all 1s;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.input-datepicker {
  background-color: white;
}
