* {
  margin: 0px;
  padding: 0px;
  font-family: "Hahmlet", serif;
}

.container {
  display: flex;
  justify-content: end;
  position: relative;
}

.show-menu {
  position: absolute;
  width: 350px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
  border: 2px solid black;
  display: flex;
}

.hide-menu {
  position: fixed;
  width: 0px;
  height: 700px;
  background-color: rgb(255, 255, 255);
  /* z-index: -359px; */
  overflow: hidden;
  transition: all 0.5s;
  /* border-left: 2px solid black; */
}

.hidden {
  display: none;
}

.container_chil {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

h1 {
  color: rgb(216, 80, 80);
}

h4 {
  cursor: pointer;
}

.Feed_line {
  border: 3px solid rgb(0, 0, 0);
  width: 860px;
  height: 0px;
  margin: 20px;
}

input {
  transition: all 1s;
}

.shadow {
  box-shadow: rgba(0.9, 0.9, 1, 0.45) 0px 5px 5px 0px;
}

.react-datepicker__day-name {
  width: 300px;
}
.custom-datepicker {
  border: 1px solid blue;
}
.custom-day {
  width: 28px;
  height: 28px;
  line-height: 1.8;
  text-align: center;
}
.gray-day {
  color: #aba8b9;
}
.selected-day {
  background: #2e1c8b;
  border-radius: 50%;
  font-weight: 700;
}

.checked {
  text-decoration: line-through;
  text-decoration-color: rgb(255, 47, 0);
  text-decoration-thickness: 2px;
}
